# backup & binary files
*.swp
*~
*.bak
*.zip

# sourcemaps
*.map

# node modules
node_modules

# compiled distributions
dist

/tests/ckeditor

# sourceeditor vendors
/sourceeditor/src/vendor/*
# sourceeditor compiled
/sourceeditor/src/dialogs/*.js
/sourceeditor/src/dialogs/*.css
