# backup & binary files
*.swp
*~
*.bak
*.zip

# sourcemaps
*.map

# node modules
node_modules

# compiled distributions
dist

# source-editor

/source-editor/src/vendor/*
/source-editor/src/dialogs/*.js
/source-editor/src/dialogs/*.css
